<div class="container-fluid p-0 fondo col-12">
    <nav class="navbar navbar-expand-lg col-12 col-sm-6">
        <a class="navbar-brand" href="#">
            <i class="fas fa-book-reader fa-2x mx-3"></i>Libros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Autores</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a href="#" class="nav-link">Ofertas</a>
                        <div class="dropdown-content">
                            <a href="#">Novela</a>
                            <a href="#">superacion</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Carrito</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid text-center fondo  ">
    <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
            <h4>Autora: Nairobi Nivar</h4>
            <h3>Resalta la lectura</h3>
            <p>

            </p>
            <button class="btn btn-light px-5 py-2 primary-btn">
            Oferta RD$ 500.00
          </button>
        </div>
        <div class="col-md-5 col-sm-12  h-25">
            <img src="./assets/img/header-img.png" alt="Book" />
        </div>
    </div>
</div>