<section class="section-2 container-fluid p-0 col-12">
    <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
            <h1> Conoce Diferentes Culturas.</h1>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
            <div class="rect">
                <h1>1000</h1>
                <p>Libros de Aventuras</p>
            </div>
            <div class="rect">
                <h1>900</h1>
                <p>Libros de Cocina</p>
            </div>
            <div class="rect">
                <h1>1007</h1>
                <p>Libros de Terror</p>
            </div>
            <div class="rect">
                <h1>1200</h1>
                <p>Libros de Comedia</p>
            </div>
        </div>
    </div>


    <div class="purchase text-center">
        <h2 class="col-12 text-center rect">Ofertas Para ti</h2>

        <div class="cards">
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h2 class="card-title rect">Novelas</h2>
                        </div>
                        <h3 class="col-12 text-center">Amor entre dos</h3>
                        <div class="pricing">
                            <h1 class="azul"> $400.00</h1>
                            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h2 class="card-title rect">Reflexión</h2>
                        </div>
                        <h3 class="col-12 text-center">Juventud en Éxtasis</h3>
                        <div class="pricing">
                            <h1 class="azul">$200.00</h1>
                            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h2 class="card-title rect">
                                Terror
                            </h2>
                        </div>
                        <h3 class="col-12 text-center">La casa enbrujada</h3>
                        <div class="pricing">
                            <h1 class="azul">$200.00</h1>
                            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>