<section class="section-2 container-fluid p-0">
    <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
            <h1> Conoce Diferentes Culturas.</h1>

        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
            <div class="rect">
                <h1>1000</h1>
                <p>Libros de Aventuras</p>
            </div>
            <div class="rect">
                <h1>900</h1>
                <p>Libros de Cocina</p>
            </div>
            <div class="rect">
                <h1>1007</h1>
                <p>Libros de Terror</p>
            </div>
            <div class="rect">
                <h1>1200</h1>
                <p>Libros de Comedia</p>
            </div>
        </div>
    </div>


    <div class="purchase text-center">
        <h1>Mira las Ofertas que tenemos Para ti</h1>

        <div class="cards">
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h5 class="card-title">Novelas</h5>
                        </div>
                        <p class="card-text">
                            Amor entre dos
                        </p>
                        <div class="pricing">
                            <h1> $400.00</h1>
                            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h5 class="card-title">reflexion</h5>
                        </div>
                        <p class="card-text">
                            Juventud en extasis
                        </p>
                        <div class="pricing">
                            <h1>$200.00</h1>
                            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="title">
                            <h5 class="card-title">
                                Terror
                            </h5>
                        </div>
                        <p class="card-text">
                            La casa en brujada
                        </p>
                        <div class="pricing">
                            <h1>$200.00</h1>
                            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>