<app-navbar></app-navbar>
<section class="section-1">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="pray">
                    <img src="../../../assets/img/nay.jpeg" alt="Pray" class="" />
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="panel text-left">
                    <h1>ING. Nairobi Nivar</h1>
                    <p class="pt-4">
                        Es una Ingeniera de Sistemas y Computacion, que se encarga del Diseño y Desarrollo de aplicaciones. Actualmente lanzo un libro titulado Resalta la lectura, donde expresa lo importante que es la lectura, para desarrollar las actividades del mundo actual.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-promocion></app-promocion>

<app-tarjetas></app-tarjetas>
<app-escritores></app-escritores>

<app-footer></app-footer>